.comments {
  margin-left: 15px;
  list-style-type: none;
}

.comments-item {
  border: none;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed gainsboro;
}

.flex-grow {
  flex-grow: 1;
}
